#text{
    font-size: 40px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url("../img/4295e998fb34e7e46f7ab6283f1674251.jpg")
}