/* 
    General Styles
*/
#nav{
    background: linear-gradient(to bottom, darkblue, #020429, black);
}
#like{
    margin-left: 80px;
    background: transparent;
    color: white;
}

#btnLeer{
    background: transparent;
    color: white;
}
#cards{
    background: transparent;
}
#btnFav{
    background: linear-gradient(to bottom, darkblue, #020429, black,);
    border-color: white;
}

a {
    text-decoration: none !important;
}

#card{
    background: linear-gradient(to bottom, darkblue, #020429, black);
}

#bodyCard{
    color: white;
}
/* 
body{
    background-image: url("../img/4295e998fb34e7e46f7ab6283f1674251.jpg")
}
 */
#titulo{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#home{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}